.button-wrapper {
  .button {
    font-size: 14px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 25px;
    letter-spacing: 0.5px;
    padding: 0.25rem 0.625rem;

    &:hover {
      cursor: pointer;
    }

    &--primary {
      color: #FFFFFF;
      border-color: #3498DB;
      background-color: #3498DB;
    }

    &--secondary {
      color: #2980B9;
      border-color: #FFFFFF;
      background-color: #FFFFFF;
    }

    &--is-large {
      width: 100%;
      height: 100%;
      font-size: 18px;
    }

    .button__text {
      &--is-uppercase {
        text-transform: uppercase;
      }
    }
  }

  &--is-large {
    width: 100%;
    height: 66px;
    max-width: 275px;
  }
}