@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

@import './App';
@import './Button';
@import './Header';
@import './Login';
@import './Logo';
@import './TextField';
@import './TodoList';
@import './TodoListItem';
