.login {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 75px);

  &__content {
    width: 100%;
    max-width: 275px;

    @media (min-width: 768px) {
      max-width: 500px;
    }
  }

  .button-wrapper {
    margin-top: 1rem;
  }
}