.todoListItem {
  width: 100%;
  margin-bottom: 1.5rem;

  &__task {
    display: flex;
    position: relative;
    border-radius: 1rem;
    align-items: center;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    padding: 1.25rem 1rem;

    &--selected {
      color: #FFFFFF;
      background-color: #2980B9;
    }
  }

  &__description {
    flex-grow: 1;
    font-size: 16px;
    padding-left: 0.5rem;
  }

  &__time {
    right: 1rem;
    font-size: 14px;
    bottom: 0.625rem;
    position: absolute;
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    outline: none;
    appearance: none;
    border-radius: 50%;
    border: 1px solid #3498DB;
    background-color: #3498DB40;

    &--selected {
      background-color: #d0e6f7;
    }

    &:checked {
      position: relative;
      background-color: #2980B9;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: #FFFFFF;
        transform-origin: left bottom;
        transform: translateX(10px) rotate(-45deg);
      }

      &::before {
        top: 45%;
        left: -2px;
        width: 2px;
        height: 30%;
      }

      &::after {
        left: -1px;
        width: 60%;
        bottom: 5px;
        height: 2px;
      }
    }
  }

  &__description,
  &__checkbox {
    cursor: pointer;
  }
}
